---
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import Base from "@layouts/Base.astro";
import { getArticlesWithOk, sort } from "@lib/collections/articles";
import ArticleCard from "@components/ArticleCard.astro";
import Pagination from "@components/Pagination.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const articles = sort(await getArticlesWithOk());

  return paginate(articles, { pageSize: 8 });
}) satisfies GetStaticPaths;

type Props = {
  page: Page<CollectionEntry<"articles">>;
};

const { page } = Astro.props;
---

<Base title="PCF">
  <main class="column">
    <h1>Articles</h1>
    <Pagination page={page} />
    <ul class="cards">
      {page.data.map((article) => <ArticleCard article={article} />)}
    </ul>
    <Pagination page={page} />
  </main>
</Base>
