---
import Editor from "@components/EditorPage.svelte";
import Base from "@layouts/Base.astro";

export const prerender = false;

const session = Astro.locals.session;

if (!session) {
  return Astro.redirect("/");
}
---

<Base title="Editor">
  <main class="column">
    <h1>Editor</h1>
    <Editor client:load {session} />
  </main>
</Base>

