---
import { getSession } from "auth-astro/server";
import Base from "@layouts/Base.astro";
import Editor from "@components/Editor.svelte";

const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect("/");
}
---

<Base title="Editor">
  <main class="column">
    <h1>Editor</h1>
    <Editor client:load />
  </main>
</Base>
