{% include "partials/head.html" %}

{% include "partials/header.html" %}
{% include "partials/navmenu.html" %}
{% include "partials/taglist.html" %}

<main>
  <h1 class=title>{{ title }}</h1>

  {% include "partials/metadata.html" %}
  {% include "partials/readingtime.html" %}

  {% if coverImage %}
    <img src="{{ coverImage }}" alt="{{ title }}">
  {% endif %}

  <article>
    {{ content | safe }}
  </article>
</main>

{% include "partials/footer.html" %}
