---
import Base from "@layouts/Base.astro";
import { getArticlesWithoutOk, sort } from "@lib/collections/articles";

export const prerender = true;

const articlesWithoutOk = sort(await getArticlesWithoutOk());
---

<Base title="Cleanup">
  <main>
    <p>These are articles have minor improvments needed or cleanups</p>
    <ol class="menu">
      {
        articlesWithoutOk.map((article) => (
          <li>
            <a href={`/${article.slug}`} rel="prefetch-intent">{article.data.title}</a>
          </li>
        ))
      }
    </ol>
  </main>
</Base>
