---
import Base from "@layouts/Base.astro";
import { getArticlesWithOk, sort } from "@lib/collections/articles";

const okArticles = sort(await getArticlesWithOk());
---

<Base title="PCF">
  <main>
    <ul class="menu">
      {
        okArticles.map((article) => (
          <li>
            <a href={`/${article.slug}`}>{article.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Base>
