---
import Articles from "@components/Articles.svelte";
import Base from "@layouts/Base.astro";
import { getArticles, sort } from "@lib/collections/articles";
import { getImage } from "astro:assets";

const okArticles = sort(await getArticles());
const renderedArticles = await Promise.all(
  okArticles.map(async (article) => ({
    collectionEntry: article,
    rendered: await article.render(),
    coverImage: article.data.coverImage
      ? {
          webp: await getImage({
            src: article.data.coverImage,
            width: 500,
          }),
          avif: await getImage({
            src: article.data.coverImage,
            width: 500,
            format: "avif",
          }),
          original: article.data.coverImage,
        }
      : null,
  }))
);
---

<Base title="PCF" showLogin>
  <main class="column">
    <h1>Our Articles</h1>
    <Articles articles={renderedArticles} client:load />
  </main>
</Base>
