---
import Base from "@layouts/Base.astro";
import { getArticles, getArticlesWithOk, sort } from "@lib/collections/articles";

// const okArticles = sort(await getArticlesWithOk());
const okArticles = sort(await getArticles());
---

<Base title="PCF">
  <main>
    <ul class="menu">
      {
        okArticles.map((article) => (
          <li>
            <a href={`/${article.slug}`} rel="prefetch-intent">{article.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Base>
