---
import Base from "@layouts/Base.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("articles");
---

<Base title="test">
  <main>
    <ul class="menu">
      {
        articles.map((article) => (
          <li>
            <a href={`/${article.slug}`}>{article.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Base>
