---
import Articles from "@components/Articles.svelte";
import Base from "@layouts/Base.astro";
import { getArticles, sort } from "@lib/collections/articles";

const okArticles = sort(await getArticles());
const renderedArticles = await Promise.all(okArticles.map(async (article) => ({
  collectionEntry: article,
  rendered: await article.render(),
})));
---

<Base title="PCF">
  <main class="column">
    <h1>Recent Articles</h1>
    <Articles articles={renderedArticles} client:load />
  </main>
</Base>
