---
import Article from "@layouts/Article.astro";

export const prerender = true;
---

<Article title="Become a Member!">
  <p>
    Membership of the Portsmouth Cycle Forum is currently <strong>FREE</strong>.
    <p>
      To be counted as a member you just have to sign-up to our mailing list,
      below.
      <p>
        We will use the details you provide on this form to tell you about
        updates and events.
      </p>

      <script
        charset="utf-8"
        type="text/javascript"
        src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
      <script is:inline>
        hbspt.forms.create({
          region: "eu1",
          portalId: "143202733",
          formId: "14c6a6e8-3fe4-45ab-a880-036d02230e49",
        });
      </script>
    </p>
  </p>
</Article>
