---
import Base from "@layouts/Base.astro";
import { getArticlesWithTodos } from "@lib/collections/articles";

const articlesWithTodos = await getArticlesWithTodos();
---

<Base title="Todos">
  <main>
    <p>We always have articles with todos, why not take a look and see if you can contribute.</p>
    <ol class="menu">
      {
        articlesWithTodos.map((article) => (
          <li>
            <a href={`/${article.slug}`}>{article.data.title}</a>
          </li>
        ))
      }
    </ol>
  </main>
</Base>
