---
import Base from "@layouts/Base.astro";
import { getArticlesWithTodos, sort } from "@lib/collections/articles";

const articlesWithTodos = sort(await getArticlesWithTodos());
---

<Base title="Todos">
  <main>
    <p>We always have articles with todos, why not take a look and see if you can contribute.</p>
    <ol class="menu">
      {
        articlesWithTodos.map((article) => (
          <li>
            <a href={`/${article.slug}`} rel="prefetch-intent">{article.data.title}</a>
          </li>
        ))
      }
    </ol>
  </main>
</Base>
