<footer>
  <p>&copy; Portsmouth Cycle Forum 2023.</p>
  <p>This website is <a href="https://github.com/pompeybug/website/">managed by volunteers using GitHub</a>.
  <p>Check out the <a href="https://github.com/pompeybug/website/issues">issue list</a> and get involved!</p>
</footer>