<aside class=metadata>
  {{#if date}}
    <p>Published: <span class="published">{{date}}</span>
  {{/if}}

  {{#if tags}}
    <p>Tags: <span class="tags">{{tags}}</span>
  {{/if}}

  {{#if categories}}
    <p>Category: <span class="categories">{{categories}}</span>
  {{/if}}
</aside>
