<aside class=metadata>

  {% if tags %}
    <nav class="taglist">
      <h2>Tags</h2>
        {% for tag in tags -%}<a class="tag" href="/tags/{{ tag }}">{{ tag }}</a> 
        {%- endfor %}
    </nav>
  {% endif %}

  {% if date %}
    <h2>Date</h2>
    <span class="published">{{ date.getFullYear() }}-{{  1+date.getMonth() }}-{{date.getDate()}}</span>
  {% endif %}


</aside>
