<nav id="navmenu">
  <section>
    <h2>Inform</h2>
    <span class="innerlist">
      <a href="/">Home</a>
      <a href="/tags">Tags</a>
      <a href="/about">About</a>
    </span>
  </section>

  <section>
    <h2>Act</h2>
    <span class="innerlist">
      <a href="/join">Join</a>
      <a href="/support-us">Donate</a>
      <a href="/report-near-misses">Report</a>
      <a href="/help">Help</a>
    </span>
  </section>
</nav>
