---
import { Icon } from "astro-icon/components";
---

<nav id="navmenu" class="navmenu-hidden">
  <div class="close">
    <button class="close-button">
      <Icon name="close" />
    </button>
    <h1><a href="/">Portsmouth Cycle Forum</a></h1>
  </div>

  <section>
    <h2>Inform</h2>
    <span class="innerlist">
      <a href="/">Home</a>
      <a href="/tags">Tags</a>
      <a href="/about">About</a>
    </span>
  </section>

  <section>
    <h2>Act</h2>
    <span class="innerlist">
      <a href="/join">Join</a>
      <a href="/support-us">Donate</a>
      <a href="/report-near-misses">Report</a>
      <a href="/help">Help</a>
    </span>
  </section>

  <section>
    <h2>Socials</h2>
    <div class="socials">
      <a
        href="https://www.facebook.com/PortsmouthCycleForum"
        title="Facebook"
        aria-label="Facebook"
        target="_blank"
        rel="noopener me"><Icon name="facebook" /></a
      >
      <a
        href="https://www.instagram.com/pompey.bike"
        title="Instagram"
        aria-label="Instagram"
        target="_blank"
        rel="noopener me"><Icon name="instagram" /></a
      >
      <a
        href="https://twitter.com/PompeyBUG"
        title="X (Twitter)"
        aria-label="X (Twitter)"
        target="_blank"
        rel="noopener me"><Icon name="twitter" /></a
      >
      <a
        href="https://youtube.com/@PompeyBUG"
        title="Youtube"
        aria-label="Youtube"
        target="_blank"
        rel="noopener me"><Icon name="youtube" /></a
      >
    </div>
  </section>

  <section>
    <slot />
  </section>
</nav>

<script>
  document.querySelector(".close-button")?.addEventListener("click", () => {
    document.querySelector("#navmenu")?.classList.toggle("navmenu-hidden");
    document.querySelector("body")?.classList.toggle("disable-overflow");
  });
</script>

<style>
  .socials {
    display: flex;
    gap: calc(var(--fixedspace) / 4);
  }

  .socials a {
    display: flex !important;
    justify-content: center;
    flex: 1 !important;
  }

  .socials a [data-icon] {
    height: var(--navmenu-socials-icon-size);
    width: var(--navmenu-socials-icon-size);
  }

  .close {
    display: var(--navmenu-close-display);
    gap: var(--fixedspace);
    align-items: center;
  }

  .close h1 {
    margin: 0;
    font-size: calc(var(--header-font-size) - 0.5cqw);
    display: flex;
    align-items: center;
  }

  .close h1 a {
    background-color: transparent !important;
    color: var(--col2) !important;
    padding: 0 !important;
  }

  .close-button {
    background-color: var(--col2);
    border: none;
    border-radius: var(--buttoncurve);
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: var(--fixedspace);
  }

  [data-icon="close"] {
    width: 40px;
    height: 40px;
    color: var(--page);
  }
</style>
