<nav id="navmenu">
  <section>
    <h2>Inform</h2>
    <span class="innerlist">
      <a href="/">All Articles</a>
      <a href="/about">About us</a>
      <a href="/a-city-to-share">Our Strategy</a>
    </span>
  </section>

  <section>
    <h2>Act</h2>
    <span class="innerlist">
      <a href="/join">Join Us</a>
      <a href="/support-us">Donate</a>
      <a href="/report-near-misses">Report</a>
      <a href="/volunteer">Volunteer</a>
    </span>
  </section>

  <section>
    <h2>Site</h2>
    <span class="innerlist">
      <a href="/tags">All Tags</a>
    </span>
  </section>
</nav>
