<nav id="navmenu">
  <h2>Menu</h2>
  <span class="innerlist">
    <a href="/">All Articles</a>
    <a href="/about">About us</a>
    <a href="/a-city-to-share">Our Strategy</a>
    <a href="/join">Join Us</a>
    <a href="/support-us">Donate</a>
    <a href="/report-near-misses">Report</a>
    <a href="/todos">Articles with Todos</a>
    <a href="/cleanup">Articles needing cleanup</a>
  </span>
</nav>
