---
import TablerX from "icons:astro/tabler/x";
import TablerBrandFacebook from "icons:astro/tabler/brand-facebook";
import TablerBrandInstagram from "icons:astro/tabler/brand-instagram";
import TablerBrandX from "icons:astro/tabler/brand-x";
import TablerBrandYoutube from "icons:astro/tabler/brand-youtube";
---

<nav id="navmenu" class="navmenu-hidden">
  <div class="close">
    <button class="close-button">
      <TablerX name="close" class="close-icon" />
    </button>
    <h1><a href="/">Portsmouth Cycle Forum</a></h1>
  </div>

  <section>
    <h2>Inform</h2>
    <span class="innerlist">
      <a href="/">Home</a>
      <a href="/tags">Tags</a>
      <a href="/about">About</a>
    </span>
  </section>

  <section>
    <h2>Act</h2>
    <span class="innerlist">
      <a href="/join">Join</a>
      <a href="/support-us">Donate</a>
      <a href="/report-near-misses">Report</a>
      <a href="/help">Help</a>
    </span>
  </section>

  <section>
    <h2>Account</h2>
    <span class="innerlist">
      <div data-show="false" id="hidden-account-options">
        <a href="/editor">New Article</a>
      </div>
      <button id="logout" data-show="false">Logout</button>
      <button id="login" data-show="true">Login</button>
    </span>
  </section>

  <section>
    <h2>Socials</h2>
    <div class="socials">
      <a
        href="https://www.facebook.com/PortsmouthCycleForum"
        title="Facebook"
        aria-label="Facebook"
        target="_blank"
        rel="noopener me"><TablerBrandFacebook name="facebook" /></a
      >
      <a
        href="https://www.instagram.com/pompey.bike"
        title="Instagram"
        aria-label="Instagram"
        target="_blank"
        rel="noopener me"><TablerBrandInstagram name="instagram" /></a
      >
      <a
        href="https://twitter.com/PompeyBUG"
        title="X (Twitter)"
        aria-label="X (Twitter)"
        target="_blank"
        rel="noopener me"><TablerBrandX name="twitter" /></a
      >
      <a
        href="https://youtube.com/@PompeyBUG"
        title="Youtube"
        aria-label="Youtube"
        target="_blank"
        rel="noopener me"><TablerBrandYoutube name="youtube" /></a
      >
    </div>
  </section>

  <slot />
</nav>

<script>
  const { getSessionClient } = await import("@lib/session");
  const { signIn, signOut } = await import("auth-astro/client");
  const { $session } = await import("@lib/sessionStore");

  const login = document.querySelector("#login") as HTMLButtonElement;
  const logout = document.querySelector("#logout") as HTMLButtonElement;

  logout.addEventListener("click", () => signOut());
  login.addEventListener("click", () => signIn("github"));

  document.querySelector(".close-button")!.addEventListener("click", () => {
    document.querySelector("#navmenu")!.classList.toggle("navmenu-hidden");
    document.querySelector("body")!.classList.toggle("disable-overflow");
  });

  const validateSession = async () => {
    const session = await getSessionClient();

    const accountOptions = document.querySelector(
      "#navmenu #hidden-account-options"
    ) as HTMLDivElement;
    const loginButton = document.querySelector(
      "#navmenu #login"
    ) as HTMLButtonElement;
    const logoutButton = document.querySelector(
      "#navmenu #logout"
    ) as HTMLButtonElement;

    if (session) {
      $session.set(session)
      accountOptions.dataset.show = "true";
      loginButton.dataset.show = "false";
      logoutButton.dataset.show = "true";
    } else {
      $session.set({});
      logoutButton.dataset.show = "false";
      loginButton.dataset.show = "true";
    }
  };

  await validateSession();
</script>

<style>
  .socials {
    display: flex;
    gap: calc(var(--fixedspace) / 4);
  }

  .socials a {
    display: flex !important;
    justify-content: center;
    flex: 1 !important;
  }

  .socials a svg {
    height: var(--navmenu-socials-icon-size);
    width: var(--navmenu-socials-icon-size);
  }

  .close {
    display: var(--navmenu-close-display);
    gap: var(--fixedspace);
    align-items: center;
  }

  .close h1 {
    margin: 0;
    font-size: calc(var(--header-font-size) - 0.5cqw);
    display: flex;
    align-items: center;
  }

  .close h1 a {
    background-color: transparent !important;
    color: var(--col2) !important;
    padding: 0 !important;
  }

  .close-button {
    background-color: var(--col2);
    border: none;
    border-radius: var(--buttoncurve);
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: var(--fixedspace);
  }

  .close-icon {
    width: 40px;
    height: 40px;
    color: var(--page);
  }

  #hidden-account-options {
    display: flex;
  }

  #navmenu *[data-show="false"] {
    display: none;
  }
</style>
