---
import { toTitleCase } from "@lib/utils";
import slugify from "@sindresorhus/slugify";
interface Props {
  tags?: string[];
}

const { tags } = Astro.props;
---

{
  tags && tags.length > 0 && (
    <section>
      <h2>Tags</h2>
      <span class="innerlist">
        {tags.map((tag) => (
          <a class="tag" href={`/tags/${slugify(tag)}`}>
            {toTitleCase(tag)}
          </a>
        ))}
      </span>
    </section>
  )
}
