<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style/style.css">

{% include "partials/header.html" %}
{% include "partials/navmenu.html" %}
{% include "partials/metadata.njk" %}

<main>
  {% if coverImage %}
    <img src="images/{{ coverImage }}" alt="{{ title }}">
  {% endif %}
  <h1 class=title>{{ title }}</h1>

  <article>
    {{ content | safe }}
  </article>
</main>

{% include "partials/footer.html" %}
