---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import NavMenu from "@components/NavMenu.astro";
import { Head } from "astro-capo";
import { type Props as SeoProps } from 'astro-seo';
import "@styles/style.css";

interface Props {
  title: string;
  description?: string;
  seo?: SeoProps;
}

const { title, description, seo } = Astro.props;
---

<!doctype html>
<html lang="en-GB">
  <Head>
    <BaseHead {seo} {title} {description} />
  </Head>
  <body>
    <Header />
    <NavMenu>
      <slot name="tags" />
    </NavMenu>
    <slot />
    <Footer />
  </body>
</html>
